<%= render 'layouts/navbar' %>

<div class="body">
	<div class="container">
		<h2>User Info</h2>
          <%= form_for(@user) do |f| %>
            <div class="field">
            	<%= f.label :name %>
            	<%= f.text_field :name %>
                <br>
                <%= f.attachment_field :profile_image %>
            </div>
            <div class="field">
            	<%= f.label :introduction %>
            	<%= f.text_area :introduction %>
            </div>
            <div class="action">
            	<%= f.submit "Update User" %>
            </div>
          <% end %>

    </div>
</div>
