<div class="row">

<%= render 'layouts/sidebar', user: @user, book: @book %>

  <div class="col-xs-9">
    <h2>Book detail</h2>
  <table class="table">
	<tbody>
	  <tr>
	    <td>
		  <%= attachment_image_tag @user, :profile_image, format: 'jpeg', fallback: "no_image.jpg", size:'50x500' %>
		<br>
		  <%= link_to @user.name, user_path(@user.id) %>
		</td>
	    <td>
		  <%= @book_find.title %>
		</td>
		<td>
		  <%= @book_find.body %>
		</td>
	  <% if @user == current_user %>
		<td>
		  <%= link_to "Edit", edit_book_path(@book_find.id), class:"btn-sm btn-success" %>
		</td>
		<td>
		  <%= link_to "Destroy" ,book_path(@book_find), method: :delete, "data-confirm"=>"本当に消しますか?", class:"btn-sm btn-danger" %>
		</td>
	  <% else %>
	    <td></td>
	  <% end %>
	  </tr>
	</tbody>
  </table>
  </div>
</div>
